.root {
    -fx-background-color: #f5f6fa;
    -fx-font-family: "Segoe UI";
}

.titulo {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #2f3640;
    -fx-padding: 20 0 20 0;
}

.label-campo {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #2f3640;
    -fx-padding: 10 0 5 0;
}

.campo {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 18 18 18 18;
    -fx-font-size: 16px;
    -fx-border-color: #dcdde1;
    -fx-background-color: #f8f9fa;
    -fx-border-width: 2;
    -fx-text-fill: #2f3640;
    -fx-min-height: 50.0;
}

.campo:focused {
    -fx-border-color: #6c5ce7;
    -fx-border-width: 2;
    -fx-background-color: white;
}

.campo:hover {
    -fx-background-color: white;
}

.botao-login {
    -fx-background-color: #6c5ce7;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 18 30 18 30;
    -fx-cursor: hand;
    -fx-min-width: 350;
    -fx-min-height: 50;
}

.botao-login:hover {
    -fx-background-color: #5a4fcf;
}

.botao-login:pressed {
    -fx-background-color: #4c3ba8;
}

.label-link {
    -fx-font-size: 14px;
    -fx-text-fill: #6c5ce7;
    -fx-cursor: hand;
    -fx-padding: 15 0 0 0;
}

.label-link:hover {
    -fx-text-fill: #5a4fcf;
    -fx-underline: true;
}